* {
    margin: 0;
    padding: 0;
    font-family: icon;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
span {
    cursor: pointer;
}
@font-face {
    font-family: 'icon';  /* project id 557929 */
    src: url('https://at.alicdn.com/t/font_557929_3arp5xomqxs9k9.eot');
    src: url('https://at.alicdn.com/t/font_557929_3arp5xomqxs9k9.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_557929_3arp5xomqxs9k9.woff') format('woff'),
    url('https://at.alicdn.com/t/font_557929_3arp5xomqxs9k9.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_557929_3arp5xomqxs9k9.svg#iconfont') format('svg');
}

.bc {
    background: linear-gradient(-45deg,#cc0033, #ff3333, #ffff33, #66cc33, #66ccff, #336699,#660099);
    height: 100vh;
    opacity: 0.3;
}
.container {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -150px;
    z-index: 5;
    border-radius: 10px;
    overflow: hidden;
    /*background: linear-gradient(#cc0033, #ff3333, #ffff33, #66cc33, #66ccff, #336699,#660099);*/
    /*opacity: .3;*/
}
.container .player-header {
    height: 40px;
    /*background-color: red;*/
}
.container .player-main {
    height: 380px;
    /*background-color: blue;*/
}

/*.container .course {*/
/*height: 28px;*/
/*}*/

.container .player-footer {
    height: 80px;
    /*background-color: pink;*/
}
.header-btn1:before { content: "\e637"; }   /* 歌词栏窗口按钮 */
.header-btn2:before { content: "\e63d" }

.word:before { content: "\e600"; }  /* 歌词栏窗口 右*/

.keep:before { content: "\e66c"; }  /* 循环按钮 */
.noloop:before { content: "\e63b" }

.prev:before { content: "\e74e"; }  /* 上一曲 */

.stop:before { content: "\e62a"; }  /* 暂停 */

.start:before { content: "\e74f"; } /* 开始播放 */

.next:before { content: "\e750"; }  /* 下一曲 */

.collect:before { content: "\e635"; }   /* 爱心 */


